.otp{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(37, 37, 77);
    color: white;
    text-align: center;
}
.otp-varify{
    padding-top: 20px;
    padding-bottom: 20px;
}
.submit{
   margin-top: 20px;
}